/*
=============================
		F O N T S
============================= 
*/
body {
	font-size: .8em;
}

li a {
	text-decoration: none;
}

.get-mail {
	font-size: .8em;
}

header h1 {
	font-family: arial, sans-serif
}

header h1,
.inbox-body h4,
.inbox-body h1 {
	font-weight: normal;
}



/*
=============================
		L A Y O U T 
============================= 
*/

ul {
	padding: 0;
	margin: 0;
}

header {
	width: 100%;
	position: fixed;
	height: 50px;
}

header h1 {
	margin: 0;
	padding: 10px 20px;
	float: left;
}

.container {
	width: 100%;
}

.sidebar {
	width: 20%;
	box-sizing: border-box;
	position: fixed;
	padding: 15px;
	top: 50px;
	cursor: pointer;
}

.sidebar li {
	padding: 5px 5px 5px 5px;
}

.sidebar li a {
	display: block;
}

button {
	width: 100%;
	padding: 10px;
	border: 1px solid #204D74;
	border-radius: 5px;
}

.inbox {
	width: 30%;
	float: left;
	margin-left: 20%;
	box-sizing: border-box;
	margin-top: 50px;
}

.inbox li{
	padding: 20px 15px;
	margin: 0;
	border-bottom: 1px solid #eee;
	list-style: none;
}

.inbox span {
	padding: 0 10px;
	margin-left: 20px;
}

.sender, 
.subject, 
.date {
	display: block;
}


.message {
	cursor: pointer;
	border-left-color: transparent;
}

.message,
.message:hover {
	border-left-width: 4px;
	border-left-style: dotted;
}

.message:hover {
	border-left-color: rgba(0,0,0,.1);
}

.check {
	float: left;
}

.inbox-body {
	width: 50%;
	right: 0;
	margin-top: 50px;
	padding: 30px 60px;
	box-sizing: border-box;
	position: fixed;
}

.get-mail{
	cursor: pointer;
	float: right;
	margin: 0;
	padding: 10px 20px;
	transition: background-color .1s ease;
	margin: 5px;
}

.led-inner {
	padding: 4px 6px;
	width: 100px;
	border-radius: 20px;
}

#helper-wrap {
	float: right;
	margin-top:8px;
}

#helper {
	padding: 10px;
	float: left;
	border-radius: 3px;
}

.right-tri {
	width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #343434;
	float: right;
	margin-top: 9px;
}



/*
=============================
		C O L O R S
============================= 
*/
header {
	background-color: #02A8DD;
}

header h1 {
	color: white;	
	text-shadow: 0px 0px 3px #333;
}

button {
	background-color: #337AB7;
}

button a {
	color: white;
}

.active {
	background-color: #0070A5;
}

.inbox {
	background-color: #F5F5F5;
}

.inbox-body h4 {
	color: #bbb;
}

.selected {
	background-color: #ccc;
}

.get-mail {
	background-color: rgba(0,0,0,.2);	
}

.get-mail:hover {
	background-color: rgba(0,0,0,.3);
}

#helper {
	background-color: #343434;
	color: white;
}

.led-inner {
	color: #fff;	
}

.sidebar li:hover {
	background-color: #eee;
}



/*
=============================
		M I S C
============================= 
*/

.no-bullet {
	list-style: none;
}

.led-on {
}









